﻿
@{
    ViewBag.Title = "Counter";
}

<h1>Количество кликов: @ViewBag.Counter</h1><br />
<h1>Количество кликов в печеньках: @ViewBag.cookieCounter</h1> <br />
<h1>Количество кликов в сессии: @ViewBag.sessionCounter</h1>

